@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

:root {
    --primary-color: #6f52a1;
    --dark-gray: #6b768d;
    --off-white: #E5E7EB;
    --light-gray: #9CA3AF;
    --light-red: #FCA5A5;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.blogs-heading {
    text-align: center;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.25rem;
    border: 1px solid var(--primary-color);
}


.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/** header**/

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/** footer **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    
}

.footer .footer-header {
    text-align: center;
    color: white;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .logo-img {
    max-width: 30px;
    display: black;
    margin: auto;
}

@media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
  
    .list-item-inline {
      display: inline;
      padding: 0rem;
    }
  
    .container-center {
      width: auto;
    }
  
    .link-primary {
      display: block;
    }
  }